Source: mbrola-suite
Section: unknown
Priority: optional
Maintainer: Michael Pozhidaev <msp@luwrain.org>
Build-Depends: debhelper (>= 8.0.0), libgdbm-dev, libgdbm-compat-dev
Standards-Version: 3.9.4
Homepage: https://luwrain.org/?lang=en

Package: mbrola-suite
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: mbrola
Description: A set of utilities to get an English TTS based on Mbrola
  A set of utilities to get an English TTS based on Mbrola
